.grid {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px !important;
}
.predial {
  width: 340px;
  margin: 0;
}

[role='button'] {
  margin: 2px !important;
  padding: 6px 2px !important;
  font-size: 0.8rem !important;
}
